<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-md-offset-3 col-xs-12">
      <div class="newsletter">
        <div class="logo">
          <h1>BOOZE</h1>
        </div>
        <form action="">
          <div class="form-group">
              <div class="input-group">
                <input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info">
                <span class="input-group-addon">Subscribe &nbsp;<i class="fas fa-long-arrow-alt-right"></i></span>
              </div>
          </div>
        </form>
        <div class="social-links">
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row footer-bottom">
    <div class="col-md-6">
      <ul>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a routerLink="about">About Us</a></li>
        <li><a routerLink="contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>All rights reserved.&copy; {{footerYear}} BOOZE</p>
    </div>
  </div>
</div>