/*** font-size ***/
$fs-12 : 0.75rem !important;
$fs-13 : 0.815rem !important;
$fs-14 : 0.875rem !important;
$fs-15 : 0.95rem !important;
$fs-16 : 1rem !important;
$fs-18 : 1.125rem !important;
$fs-20 : 1.25rem !important;
$fs-24 : 1.5rem !important;
$fs-30 : 1.875rem !important;
$fs-32 : 2rem !important;
$fs-36 : 2.25rem !important;
$fs-48 : 3rem !important;

/*** variables ***/
$base-color : #444;
$white-color : #fff;
$white-bg : #fff;
$black-color : #000;
$black-bg : #000;
$black-222 : #222;
$navbar-background : #fe7575;
$navbar-anchor-background : #222;
$theme-color : #fe7575;
$theme-color-2 : #333;
// $border-color : #f2f2f2;
$light-bg : #fdfdfd;
$grey-bg : #fbfbfb;
$border-color : rgba(156, 39, 176, 0.1);