<div class="my-orders-wrapper">
    <div class="allOrders">
        <div class="my-orders">
          <h4 class="margin-top-0 theme-color">Placed</h4>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 col-sm-12 ipad-padding-0 paddingLeft-0">
                <h5 class="displayInlineBlock margin-top-10">Order No :
                  <span class="">5Gx2Cvxe</span>
                </h5>
              </div>
              <div class="col-md-7 col-sm-12 ipad-padding-0 paddingRight-0">
                <ul class="tracking">
                  <li class="step1 active">
                    <span data-toggle="tooltip" title="placed" data-original-title="Nov 8, 2018">
                      <i class="fa fa-circle"></i>
                    </span>
                    <b class="label-status ">Placed</b>
                  </li>
                  <li class="step2 ">
                    <span data-toggle="tooltip" title="In Progress" data-original-title="">
                      <i class="fa fa-circle"></i>
                    </span>
                    <b class="label-status ">In Progress</b>
                  </li>
                  <li class="step3 ">
                    <span data-toggle="tooltip" title="Packed" data-original-title="">
                      <i class="fa fa-circle"></i>
                    </span>
                    <b class="label-status ">Packed</b>
                  </li>
                  <li class="step4 ">
                    <span data-toggle="tooltip" title="Shipped" data-original-title="">
                      <i class="fa fa-circle"></i>
                    </span>
                    <b class="label-status ">Shipped</b>
                  </li>
                  <li class="step5 ">
                    <span data-toggle="tooltip" title="Delivered" data-original-title="">
                      <i class="fa fa-circle"></i>
                    </span>
                    <b class="label-status ">Delivered</b>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
    
        <div class="my-orders-list bg-gray">
          <div class="order-palced-date">
            <div class="order-details">
              <div class="row">
                <div class="col-md-5 order-columns">
                  <h5>Order Details</h5>
                  <ul>
                      <li>Order No : <span class="">5Gx2Cvxe</span></li>
                      <li>Placed on : <span class="placed-date fw-400 ">Nov 8, 2018</span></li>
                      <li>Payment method : <span>Cash on Delivery</span></li>
                      <li><table class="table table-bordered margin-0">
                            <tbody><tr>
                              <td>Sub Total</td>
                              <td class="">₹ 70</td>
                            </tr>
                            <tr>
                              <td>Delivery Charges</td>
                              <td class="">₹ 60</td>
                            </tr>
                            <tr>
                              <td>
                                <b>Total Price</b>
                              </td>
                              <td class="secondary-color">₹
                                <span class="">130</span>
                                <span class="fs-10 ">  ( 1</span>
                                <span class="fs-10 ng-scope">item</span> )
                              </td>
                            </tr>
                          </tbody></table>
                      </li>
                  </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 order-columns">
                  <h5>Address</h5>
                  <ul>
                      <address>
                        <li class="uppercase">pooui mjjk</li>
                        <li class="uppercase">uyiyiy</li>
                        <li class="uppercase">Bhadrachalam</li>
                        <li class="uppercase">Andhra Pradesh</li>
                        <li>
                          <span class="uppercase">India</span> -
                          <span>500032</span>
                        </li>
                      </address>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 order-columns text-right">
                  <h5>Order Status</h5>
                  <ul>
                    <h4 class="margin-top-0 ng-scope">Status : Placed</h4>
                        <div id="ticket-5Gx2Cvxe"class="ng-scope">
                          <button type="button" name="button" class="margin-0 btn raise-ticket-btn btn-block btn-small  pull-right" >Need Help?
                          </button>
                        </div>
                  </ul>
                </div>
              </div>
              <div class="show-ordered-products pull-right">
                <button type="button" name="button" class="btn">
                   <span>Hide Products &nbsp;&nbsp;<i class="fa fa-arrow-up"></i></span>
                </button>
              </div>
            </div>
            <br>
          </div>
          <div class="clearfix"></div>
          <table class="table table-bordered shop-cart-table margin-0 marginTop-10">
            <thead>
              <tr>
                <th style="width:50%">Product</th>
                <th>Price</th>
                <th style="width:15%">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a (click)="viewProductDetails(1)">
                    <img src="https://placehold.it/80x80" alt="">
                    <b>Manischewitz Concord</b>
                  </a>
                </td>
                <td>$26.99 (Per unit price)</td>
                <td>
                  Qty : 1
                </td>
              </tr>
            </tbody>
          </table>
          <div class="clearfix"></div>
        </div>
        <hr>
      </div>
</div>