<ul class="list-group">
    <form name="settingsForm">
      <li class="list-group-item">
          <div class="row">
              <div class="col-md-10 col-xs-10">
                  <h3>Notifications</h3>
                  <p>Do you want to receive order related notifications</p>
              </div>
              <div class="col-md-2 col-xs-2">
                <div class="material-switch pull-right">
                    <input id="notifications" name="notifications" type="checkbox">
                    <label for="notifications" class="label-default"></label>
                </div>
              </div>
          </div>
      </li>
      <li class="list-group-item">
          <div class="row">
              <div class="col-md-10 col-xs-10">
                  <h3>Subscribe</h3>
                  <p>Do you want to receive upcoming updates on products &amp; deals</p>
              </div>
              <div class="col-md-2 col-xs-2">
                <div class="material-switch pull-right">
                    <input id="subscribe" name="newsletters" type="checkbox">
                    <label for="subscribe" class="label-default"></label>
                </div>
              </div>
          </div>
      </li>
    </form>
  </ul>