<div class="shopping-cart-left">
  <h4 class="header">Shopping Cart ({{cartItems.length}} items)
    <!-- <form action="" name="pincodeForm" class="pincode-form">
      <span class="pull-right fs-14">Pincode <span class="fas fa-map-marker location-marker"></span>
      <input type="text" class="change-address" name="pincode" pattern="/^[0-9]{6}$/" maxlength="6" required>
        <button class="btn pin-btn">Check Availability</button>
        <p class="checkAvailability-wrapper text-center"></p>
      </span>
    </form> -->
  </h4>
  <div class="cart-items">
    <table class="table table-bordered shop-cart-table margin-0 shopCart-table">
      <thead>
        <tr>
          <th style="width:50%">Product</th>
          <th>Price</th>
          <th style="width:16%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of cartItems;i as index">
          <td>
            <a (click)="viewProductDetails(cart.productInfo[0]._id)" class="image-link">
              <span class="image-wrapper">
                <img src="/assets/images/{{cart.productInfo[0].image}}" alt="">
              </span>
              <b>{{cart.productInfo[0].name}}</b>
            </a>
          </td>
          <td>
              <div class="form-group cart-input-group input-group">
                  <span class="input-group-addon" (click)="updateCart('minus',index,cart)"><i class="fas fa-minus"></i></span>
                  <input type="text" class="form-control" placeholder="1" value="{{cart.quantity}}">
                  <span class="input-group-addon" (click)="updateCart('plus',index,cart)"><i class="fas fa-plus"></i></span>
              </div>
              <p>$ {{cart.productInfo[0].listPrice}} x {{cart.quantity}} = $ {{getPriceIndividual(cart.productInfo[0].listPrice,cart.quantity)}}</p>
          </td>
          <td>
              <a (click)="add_removeFromWishlist(cart?.wishlistSelected,cart.productInfo[0]._id)" class="icons marginRight-15" data-toggle="tooltip" title="Remove From Wishlist"><i class="fa-heart" [ngClass]="cart?.wishlistSelected === true ? 'fas' : 'far'"></i></a>
              <a (click)="removeCartItem(cart,cart.productInfo[0]._id)" class="icons" data-toggle="tooltip" title="Remove Item From Cart"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr *ngIf="!cartItems.length">
            <td colspan="3" class="text-center"><div style="height: 225px;line-height: 225px;">No cart items</div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>