<div class="inner-content-wrapper">
  <div class="inner-content-title">
    <h3 class="section-title"><a href="#">Shop</a> / Rondel Rose Semi Seco</h3>
  </div>
  <div class="product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="product-image-wrapper">
            <img src="/assets/images/product_image.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-7">
          <div class="product-desc">
            <h4 class="title">Rondel Rose Semi Seco Cava</h4>
            <div class="price">
              <h4>
                <span class="old">$27.99</span>
                <span class="new">$25.99</span>
              </h4>
            </div>
            <div class="product-short-headlines">
              <ul>
                <li>Semi-Sweet</li>
                <li>Strawberry</li>
                <li>Red Fruit</li>
                <li>Light Bodied</li>
              </ul>
            </div>
            <div class="product-short-desc">
              <p>Penedes, Spain- A fresh Rose with a touch of sweetness that is perfect for pairing with spicy dishes and desserts. Tiny bubbles filled with sweet red fruit glide across the palate into a smooth and refreshing finish.</p>
            </div>
            <div class="product-quantity">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      <select name="" class="form-control">
                        <option value="1">750 ML</option>
                        <option value="1">1000 ML</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10" readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-theme">Add To Cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-units">
              <ul>
                <li>
                  <b>SKU:</b> 3888897-1
                </li>
                <li>
                  <b>CATEGORY:</b> A/C
                </li>
                <li>
                  <b>TAG:</b> Canned Wine / Fruit Wine
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--product details tabs-->
      <div class="row">
        <div class="product-details-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#desc">Description</a></li>
            <li><a data-toggle="tab" href="#add-info">Additional Information</a></li>
            <li><a data-toggle="tab" href="#cust-reviews">Reviews (2)</a></li>
          </ul>
          
          <div class="tab-content">
            <div id="desc" class="tab-pane fade in active">
              <p>Pulvinar taciti eu dis purus litora vulputate elementum rutrum blandit morbi nisi nunc a eros suspendisse suscipit laoreet ipsum suspendisse a commodo parturient ultrices. A praesent a at dictumst a himenaeos dis a parturient tincidunt consectetur felis feugiat condimentum. Est lorem luctus donec nostra torquent nullam nascetur a pretium est lacus dignissim volutpat scelerisque dictumst diam tincidunt cum ante habitant tristique suspendisse nisi sodales.</p>
            </div>
            <div id="add-info" class="tab-pane fade">
              <p>A hac a a dictumst venenatis a interdum ac placerat habitasse id libero scelerisque a. Parturient ullamcorper nec feugiat class vitae tristique scelerisque consectetur a viverra imperdiet a curabitur vel senectus a ullamcorper nec metus eget eu dis commodo tempor ornare. Lacus suscipit hendrerit condimentum egestas amet ad mi consequat vestibulum molestie hendrerit praesent ut ut parturient eu ac vestibulum sem velit a nullam amet.</p>
              <p>Ut a quis hac ac ipsum a quisque ad dui parturient quam mus ut vestibulum adipiscing tincidunt hendrerit parturient a dui eleifend neque. A vestibulum magnis proin lectus duis ullamcorper scelerisque amet magnis sodales per per leo aptent adipiscing pharetra ante a. Et ullamcorper aliquam cursus sociosqu condimentum placerat lacus sem conubia in a pulvinar tempor eu netus fames ad aliquet aptent. Augue a vulputate scelerisque cubilia a ullamcorper id parturient tincidunt enim vestibulum adipiscing a cubilia vestibulum egestas mauris placerat tortor cursus ultrices luctus libero rutrum adipiscing. Suspendisse cursus scelerisque a mus vestibulum cubilia massa nullam magna ac a vitae volutpat consectetur parturient odio ullamcorper quam diam morbi eu parturient quam praesent a a.</p>
              <p>A hac a a dictumst venenatis a interdum ac placerat habitasse id libero scelerisque a. Parturient ullamcorper nec feugiat class vitae tristique scelerisque consectetur a viverra imperdiet a curabitur vel senectus a ullamcorper nec metus eget eu dis commodo tempor ornare. Lacus suscipit hendrerit condimentum egestas amet ad mi consequat vestibulum molestie hendrerit praesent ut ut parturient eu ac vestibulum sem velit a nullam amet.</p>
            </div>
            <div id="cust-reviews" class="tab-pane fade">
              <h3>Overall Ratings</h3>
              <div class="row">
                <div class="col-md-1">
                  <h1>4.0</h1>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                  <p>Based on 23 ratings.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        Excellent
                      </div>
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-good" role="progressbar" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        Good
                      </div>
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        Average
                      </div>
                    </div>
                    
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        Below Average
                      </div>
                    </div>

                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        Poor
                      </div>
                    </div>

                </div>
              </div>
              <hr>
              <div class="row">
                <div class="product-reviews">
                  <ul>
                    <li>
                      <h4>Abhishek Jangid</h4>
                      <span class="customer-reviews">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                      </span>
                      <p>Sit adipiscing proin taciti dui ullamcorper ridiculus nostra taciti condimentum conubia quisque conubia pulvinar ac tempus facilisi a faucibus ullamcorper maecenas dolor euismod. Parturient a tempor a vulputate mi fermentum nec vitae odio condimentum lacus pretium integer ad. Sodales torquent aliquet nibh elit nam hac lorem id nibh risus arcu eros a sem pretium varius adipiscing class ac conubia purus in parturient vel. Phasellus in aliquam adipiscing consectetur ante vestibulum placerat dui dapibus sodales a dictumst parturient curabitur leo suspendisse mi porttitor suspendisse adipiscing a ipsum mi. Aptent vestibulum integer sem mollis suspendisse a a a pulvinar ridiculus sapien consectetur condimentum condimentum vehicula magna suspendisse a cubilia adipiscing ipsum dictumst porttitor vel at. Consectetur a vulputate convallis consequat torquent duis vestibulum enim ac orci tristique pretium mi orci massa.</p>
                      <b>Date : 01/10/2018</b>
                    </li>
                    <li>
                      <h4>Abhishek Jangid</h4>
                      <span class="customer-reviews">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                      </span>
                      <p>Sit adipiscing proin taciti dui ullamcorper ridiculus nostra taciti condimentum conubia quisque conubia pulvinar ac tempus facilisi a faucibus ullamcorper maecenas dolor euismod.</p>
                      <b>Date : 01/10/2018</b>
                    </li>
                    <li>
                      <h4>Abhishek Jangid</h4>
                      <span class="customer-reviews">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                      </span>
                      <p>Parturient a tempor a vulputate mi fermentum nec vitae odio condimentum lacus pretium integer ad. Sodales torquent aliquet nibh elit nam hac lorem id nibh risus arcu eros a sem pretium varius adipiscing class ac conubia purus in parturient vel.</p>
                      <b>Date : 01/10/2018</b>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>