<div class="myWishlist-wrapper">
    <form name="changePasswordForm" id="changePasswordForm" (submit)="changePasswordSubmit()">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 col-xs-10 col-md-offset-1 form-group">
            <label for="old-password" class="text-center">Old password  <span class="required">*</span></label>
            <div class="input-group profile-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="currentPassword" [(ngModel)]="passwordObj.currentPassword">
            </div>
          </div>
          <div class="col-md-1 col-xs-1 show-password">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </div>
        
          <div class="col-md-8 col-xs-10 col-md-offset-1 form-group">
            <label for="new-password">New password  <span class="required">*</span></label>
            <div class="input-group profile-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" id="new-password" name="newPassword" [(ngModel)]="passwordObj.newPassword">
            </div>
          </div>
          <div class="col-md-1 col-xs-1 show-password">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-8 col-xs-10 col-md-offset-1 form-group">
            <label for="confirm-password">Confirm password  <span class="required">*</span></label>
            <div class="input-group profile-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" id="confirm-password" name="confirmPassword" [(ngModel)]="passwordObj.confirmPassword">
            </div>
          </div>
          <div class="col-md-1 col-xs-1 show-password">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-8 col-xs-10 col-md-offset-1 form-group text-center">
          <button type="submit" class="btn-theme-dark btn">Submit</button>
        </div>
      </div>
      </div>
      <br>
    </form>
  </div>