<div class="inner-content-wrapper">
  <div class="inner-content-title">
    <h3 class="section-title">Shopping Cart</h3>
  </div>
<div class="content homecomponent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered shop-cart-table">
          <thead>
            <tr>
              <th style="width:5%">Action</th>
              <th style="width:50%">Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th style="width:15%">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a (click)="removeCartItem()" class="icons" data-toggle="tooltip" title="Remove Item From Cart"><i class="far fa-trash-alt"></i></a></td>
              <td>
                <a (click)="viewProductDetails(1)">
                  <img src="https://placehold.it/80x80" alt="">
                  <b>Manischewitz Concord</b>
                </a>
              </td>
              <td>$26.99</td>
              <td>$26.99</td>
              <td>$26.99</td>
            </tr>
            <tr>
              <td><a (click)="removeCartItem()" class="icons" data-toggle="tooltip" title="Remove Item From Cart"><i class="far fa-trash-alt"></i></a></td>
                <td>
                  <a (click)="viewProductDetails(1)">
                    <img src="https://placehold.it/80x80" alt="">
                    <b>Manischewitz Concord</b>
                  </a>
                </td>
                <td>$26.99</td>
                <td>$26.99</td>
                <td>$26.99</td>
              </tr>
              <tr>
                <td><a (click)="removeCartItem()" class="icons" data-toggle="tooltip" title="Remove Item From Cart"><i class="far fa-trash-alt"></i></a></td>
                <td>
                  <a (click)="viewProductDetails(1)">
                    <img src="https://placehold.it/80x80" alt="">
                    <b>Manischewitz Concord</b>
                  </a>
                </td>
                <td>$26.99</td>
                <td>$26.99</td>
                <td>$26.99</td>
              </tr>
              <tr>
                <td colspan="3">
                    <div class="input-group">
                      <input type="text" class="form-control" name="coupon" placeholder="Coupon Code">
                      <span class="input-group-addon">Apply</span>
                    </div>
                </td>
                <td><b class="gt">Grand Total</b></td>
                <td>$100</td>
              </tr>
            </tbody>
          </table>
          <div class="proceed-checkout">
            <button class="btn btn-theme">Proceed Checkout</button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>  