.shop-cart-table{    
    margin-top: 0px;
    box-shadow: none !important;
    margin-bottom: 0;
    tbody{
        td{
            vertical-align: middle;
        }
    }

    b{
        display: inline-block;
        margin-left: 15px;
    }
    .gt{
        text-align: right;
        display: block;
    }
}