<div class="inner-content-wrapper">
  <div class="inner-content-title">
    <h3 class="section-title">Categories</h3>
  </div>
  <!--all categories-->
  <div class="all-categories">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="filters">
            <!--search-->
            <div class="search">
              <h3>Search</h3>
              <form action="">
                <div class="form-group">
                    <div class="input-group">
                      <input id="msg" type="text" class="form-control" name="msg" placeholder="Search Product...">
                      <span class="input-group-addon"><i class="fas fa-search"></i></span>
                    </div>
                </div>
              </form>
            </div>
            <!--Price-->
            <div class="slidecontainer">
              <h3>Price</h3>
              <input type="range" min="1" class="slider" id="myRange" [attr.max]="myMaxPrice" (change)="getCategoryRange($event)">
              <p>Price -> $0 - ${{maxPrice}}</p>
            </div>
            <!--top products-->
            <div class="top-products">
              <h3>Top Products</h3>
              <div class="row top-products-wrapper">
                <div class="col-md-4">
                  <span class="top-products-image"><img src="/assets/images/tp1.jpg" alt=""></span>
                </div>
                <div class="col-md-8">
                  <h5>Manischewitz Concord</h5>
                  <h6>$26.66</h6>
                </div>
              </div>
              <div class="row top-products-wrapper">
                <div class="col-md-4">
                  <span class="top-products-image"><img src="/assets/images/tp1.jpg" alt=""></span>
                </div>
                <div class="col-md-8">
                  <h5>Manischewitz Concord</h5>
                  <h6>$26.66</h6>
                </div>
              </div>
              <div class="row top-products-wrapper">
                <div class="col-md-4">
                  <span class="top-products-image"><img src="/assets/images/tp1.jpg" alt=""></span>
                </div>
                <div class="col-md-8">
                  <h5>Manischewitz Concord</h5>
                  <h6>$26.66</h6>
                </div>
              </div>
            </div>
            <!-- categories filter-->
            <div class="categories-filter">
              <h3>Categories</h3>
              <ul>
                <li><a href="#">All <span class="product-count">(78)</span></a></li>
                <li><a href="#">Red White <span class="product-count">(30)</span></a></li>
                <li><a href="#">Sparking Wine <span class="product-count">(20)</span></a></li>
                <li><a href="#">White Wine<span class="product-count">(8)</span></a></li>
                <li><a href="#">Rose & Blush Wine<span class="product-count">(10)</span></a></li>
                <li><a href="#">Sake & Plurn Wine<span class="product-count">(10)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="all-categories-products">
            <div class="all-categories-products-filters">
              <div class="row">
                <div class="col-md-8">
                  <p>We found <span class="theme-color">25</span> products available for you.</p>
                </div>
                <div class="col-md-4 text-right">
                  <form class="form-inline" action="#">
                    <div class="form-group">
                      <label for="sort">Sort By: &nbsp;</label>
                      <select name="" class="form-control">
                        <option value="default">Default</option>
                        <option value="default">Latest</option>
                        <option value="default">High To Low</option>
                        <option value="default">Low To High</option>
                      </select>
                    </div>
                  </form>  
                </div>
              </div>
            </div>
            <div class="all-categories-products-wrapper">
              <div class="row">
                  <div class="col-md-4">
                    <div class="product-wrapper">
                      <a href="#"><img src="/assets/images/bs1.jpg" alt=""></a>
                      <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                      <h5 class="quantity">750 ml</h5>
                      <h4 class="price">
                        <span class="old">$27.99</span>
                        <span class="new">$25.99</span>
                      </h4>
                      <div class="product-options">
                        <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                        <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                        <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="product-wrapper">
                      <a href="#"><img src="/assets/images/bs10.jpg" alt=""></a>
                      <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                      <h5 class="quantity">750 ml</h5>
                      <h4 class="price">
                        <span class="old">$27.99</span>
                        <span class="new">$25.99</span>
                      </h4>
                      <div class="product-options">
                        <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                        <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                        <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="product-wrapper">
                        <a href="#"><img src="/assets/images/bs3.jpg" alt=""></a>
                        <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                        <h5 class="quantity">750 ml</h5>
                        <h4 class="price">
                          <span class="old">$27.99</span>
                          <span class="new">$25.99</span>
                        </h4>
                        <div class="product-options">
                          <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                          <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                          <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-wrapper">
                          <a href="#"><img src="/assets/images/bs4.jpg" alt=""></a>
                          <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                          <h5 class="quantity">750 ml</h5>
                          <h4 class="price">
                            <span class="old">$27.99</span>
                            <span class="new">$25.99</span>
                          </h4>
                          <div class="product-options">
                            <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                            <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="product-wrapper">
                            <a href="#"><img src="/assets/images/bs5.jpg" alt=""></a>
                            <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                            <h5 class="quantity">750 ml</h5>
                            <h4 class="price">
                              <span class="old">$27.99</span>
                              <span class="new">$25.99</span>
                            </h4>
                            <div class="product-options">
                              <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                              <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                              <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-wrapper">
                              <a href="#"><img src="/assets/images/bs6.jpg" alt=""></a>
                              <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                              <h5 class="quantity">750 ml</h5>
                              <h4 class="price">
                                <span class="old">$27.99</span>
                                <span class="new">$25.99</span>
                              </h4>
                              <div class="product-options">
                                <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                              <div class="product-wrapper">
                                <a href="#"><img src="/assets/images/bs7.jpg" alt=""></a>
                                <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                                <h5 class="quantity">750 ml</h5>
                                <h4 class="price">
                                  <span class="old">$27.99</span>
                                  <span class="new">$25.99</span>
                                </h4>
                                <div class="product-options">
                                  <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                                  <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                  <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-wrapper">
                                  <a href="#"><img src="/assets/images/bs8.jpg" alt=""></a>
                                  <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                                  <h5 class="quantity">750 ml</h5>
                                  <h4 class="price">
                                    <span class="old">$27.99</span>
                                    <span class="new">$25.99</span>
                                  </h4>
                                  <div class="product-options">
                                    <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="product-wrapper">
                                    <a href="#"><img src="/assets/images/bs9.jpg" alt=""></a>
                                    <h4 class="title"><a href="#">Marchese dell"Elsa</a></h4>
                                    <h5 class="quantity">750 ml</h5>
                                    <h4 class="price">
                                      <span class="old">$27.99</span>
                                      <span class="new">$25.99</span>
                                    </h4>
                                    <div class="product-options">
                                      <a (click)="viewProductDetails(1)" data-toggle="tooltip" title="View Details"><i class="fas fa-info"></i></a>
                                      <a href="#" data-toggle="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                      <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-basket"></i></a>
                                    </div>
                                  </div>
                                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>