<div class="inner-content-wrapper">
  <div class="inner-content-title">
    <h3 class="section-title">Categories</h3>
  </div>
  <!--all categories-->
  <div class="all-categories">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="filters">
            <!--search-->
            <div class="search">
              <h3>Search</h3>
              <form action="">
                <div class="form-group">
                    <div class="input-group">
                      <input id="msg" type="text" class="form-control" name="msg" placeholder="Search Product...">
                      <span class="input-group-addon"><i class="fas fa-search"></i></span>
                    </div>
                </div>
              </form>
            </div>
            <!--Price-->
            <div class="slidecontainer">
              <h3>Price</h3>
              <input type="range" min="1" class="slider" id="myRange" [attr.max]="maxPrice" [attr.min]="minPrice" (change)="getCategoryRange($event)">
              <p>Price -> ${{myMinPrice}} - ${{myMaxPrice}}</p>
            </div>
            <!--top products-->
            <div class="top-products">
              <h3>Top Products</h3>
              <div class="row top-products-wrapper">
                <div class="col-md-4 paddingLeft-0">
                  <span class="top-products-image"><img src="/assets/images/tp1.jpg" alt=""></span>
                </div>
                <div class="col-md-8 paddingLeft-0">
                  <h5>Manischewitz Concord</h5>
                  <h6>$26.66</h6>
                </div>
              </div>
              <div class="row top-products-wrapper">
                <div class="col-md-4 paddingLeft-0">
                  <span class="top-products-image"><img src="/assets/images/tp1.jpg" alt=""></span>
                </div>
                <div class="col-md-8 paddingLeft-0">
                  <h5>Manischewitz Concord</h5>
                  <h6>$26.66</h6>
                </div>
              </div>
              <div class="row top-products-wrapper">
                <div class="col-md-4 paddingLeft-0">
                  <span class="top-products-image"><img src="/assets/images/tp1.jpg" alt=""></span>
                </div>
                <div class="col-md-8 paddingLeft-0">
                  <h5>Manischewitz Concord</h5>
                  <h6>$26.66</h6>
                </div>
              </div>
            </div>
            <!-- categories filter-->
            <div class="categories-filter">
              <h3>Categories</h3>
              <ul>
                <li *ngFor="let cat of allCategories;index as i;"><a href="javascript:void(0)" (click)="getSelectedCategoriesProducts(cat.categoryId)">{{cat.categoryName}} <span class="product-count">({{cat.count}})</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="all-categories-products">
            <div class="all-categories-products-filters">
              <div class="row">
                <div class="col-md-8">
                  <p>We found <span class="theme-color">{{totalProductsCount}}</span> products available for you.</p>
                </div>
                <div class="col-md-4 text-right">
                  <form class="form-inline" action="#">
                    <div class="form-group">
                      <label for="sort">Sort By: &nbsp;</label>
                      <select name="product" class="form-control" (change)="sortProduct($event)">
                        <option value="default">Default</option>
                        <option value="high_to_low">High To Low</option>
                        <option value="low_to_high">Low To High</option>
                      </select>
                    </div>
                  </form>  
                </div>
              </div>
            </div>
            <div class="all-categories-products-wrapper">
              <div class="row">
                  <div class="col-md-4" *ngFor="let product of allProducts; index as i;">
                    <div class="product-wrapper">
                      <img src="/assets/images/{{product.image}}" alt="">
                      <!-- <a href="javascript:void(0)" (click)="viewProductDetails(product._id)"><img src="/assets/images/{{product.image}}" alt=""></a> -->
                      <span class="wishlist-wrapper">
                        <a href="javascrtipt:void(0)" (click)="add_removeFromWishlist(product.selected,product._id,allProducts,product)" data-toggle="tooltip" title="Add To Wishlist"><i class="fa-heart" [ngClass]="product?.selected === true ? 'fas' : 'far'"></i></a>
                      </span>
                      <div class="product-info-wrapper">
                        <h4 class="title"><a href="#">{{product.name}}</a></h4>
                        <h5 class="quantity">750 ml</h5>
                        <h4 class="price">
                          <span class="old">${{product.listPrice}}</span>
                          <span class="new">${{product.salePrice}}</span>
                        </h4>
                        <div class="product-options">
                          <a href="javascrtipt:void(0)" (click)="viewProductDetails(product._id)" data-toggle="tooltip" title="View Details">View Details</a>
                          <a href="javascrtipt:void(0)" (click)="addToCart(product._id)" data-toggle="tooltip" title="Add To Cart">Add To Cart</a>
                          <!-- <a href="javascrtipt:void(0)" (click)="deleteFromWishlist(product._id)" data-toggle="tooltip" title="Delete From Cart">delete</a> -->
                        </div>
                      </div>  
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>