<div class="shopping-cart-left">
    <h4 class="header">Payment Options</h4>
    <div class="payment-items">
        <div class="payment-options-wrapper">
            <div class="radio" *ngFor="let paymentType of paymentTypes;i as index">
              <label>{{paymentType.displayName}}
                <input type="radio" name="payment" (change)="getPaymentType($event)" value="{{paymentType.value}}">
              </label>
            </div>
          </div>
          <div *ngIf="paypal">
            <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
          </div>
          <div class="text-center marginBottom-10">
              <a routerLink="/cart/shipping-address" class="btn btn-theme-dark"><i class="fa fa-chevron-left"></i> Back To Address</a>
          </div>
    </div>
</div>      