<div class="shopping-cart-left">
    <h4 class="header">My Addresses
      <button type="button" class="btn btn-theme pull-right add-new-btn" (click)="showAddressForm()">Add New Address</button>
    </h4>
    <div class="address-items">
      <ul class="selected-cart">
        <div class="text-center secondary-color default-address margin-top-10"></div>
        <li *ngFor="let address of allAddress;index as i">
          <div class="row">
            <div class="col-md-9 col-sm-9">
              <h4 class="uppercase">{{address.name}} (<span >{{address.contactNumber}}</span>)</h4>
              <address>
                <p class="uppercase">{{address.address}}</p>
                <p class="uppercase"></p>
                <p class="uppercase">{{address.city}}</p>
                <p class="uppercase">{{states[address.state]}}</p>
                <p>
                  <span class="uppercase">{{address.country}}</span> -
                  <span>{{address.pinCode}}</span>
                </p>
              </address>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="actions">
                <div class="text-center">
                  <label class="radio-inline">
                    <input type="radio" class="theme-color" name="adddress" [checked]="address.defaultAddress" (change)="makeDefaultCheckoutAddress(address)">Delivery Address</label>
                  <br>
                  <br>
                  <div>
                    <button type="button" class="btn btn-theme" (click)="editAddress(address)">Edit</button>
                    <button type="button" class="btn btn-theme-dark" (click)="deleteAddress(address)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div class="text-center marginBottom-10">
        <a routerLink="/cart/shopping-cart" class="btn btn-theme-dark"><i class="fa fa-chevron-left"></i> Back To Cart</a>
    </div>
</div>      


<div id="address-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
          </button>
          <h4 class="modal-title ng-binding">{{addressFormTitle}}</h4>
        </div>
        <div class="modal-body padding-top-0">
          <form (submit)="onAddressSubmit()" #addressForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Name
                    <i class="fas fa-asterisk mandatory-field"></i>
                  </label>
                  <input type="text" class="form-control " id="name" placeholder="Enter name" [(ngModel)]="address.name" #nameInput="ngModel" required name="name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mob">Mobile No
                    <i class="fas fa-asterisk mandatory-field"></i>
                  </label>
                  <input type="text" class="form-control" id="mob" placeholder="Enter mobile no." maxlength="10" name="contactNumber" [(ngModel)]="address.contactNumber" #contactInput="ngModel" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="add">Address
                    <i class="fas fa-asterisk mandatory-field"></i>
                  </label>
                  <textarea rows="4" class="form-control " placeholder="Enter address" name="address" [(ngModel)]="address.address" #addressInput="ngModel" required></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="landmark">Email</label>
                  <input type="text" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="address.email" #emailInput="ngModel">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group position-relative">
                  <label for="state">State
                    <i class="fas fa-asterisk mandatory-field"></i>
                  </label>
                  <select name="state" class="form-control" [(ngModel)]="address.state" #stateInput="ngModel" required>
                    <option value="">Select State</option>
                    <option *ngFor="let state of states; index as i" value="{{i}}">{{state}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group position-relative">
                  <label for="city">City
                    <i class="fas fa-asterisk mandatory-field"></i>
                  </label>
                  <input type="text" class="form-control" placeholder="Enter city" [(ngModel)]="address.city" #cityInput="ngModel" required name="city">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="country">Country<i class="fas fa-asterisk mandatory-field"></i></label>
                    <input type="text" class="form-control" placeholder="Enter Country" name="country" [(ngModel)]="address.country" #countryInput="ngModel">
                  </div>
                </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="pin">Pincode
                    <i class="fas fa-asterisk mandatory-field"></i>
                  </label>
                  <input type="text" class="form-control" id="pin" placeholder="Enter pincode" maxlength="6" name="pinCode" pattern="/^[0-9]{6}$/" [(ngModel)]="address.pinCode" #pincodeInput="ngModel" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <p style="margin-bottom: 0px;margin-top:10px;">
                  <i class="fas fa-asterisk mandatory-field"></i>&nbsp;&nbsp;marked fields are mandatory</p>
              </div>
            </div>
            <hr>
            <div class="text-center">
              <button type="submit" class="btn-theme btn margin-0">Submit</button> &nbsp;
              <button type="button" class="btn-theme-dark btn margin-0" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  </div>