<!--banner-->
<div class="banner">
    <div id="banner-image"></div>
    <div class="carousel-wrapper">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item" *ngFor="let product of bannerProducts;let k = index;" [ngClass]="k == 0 ? 'item active' : 'item'">
                <img src="/assets/images/{{product.image}}" alt="Chania" class="img-responsive">
                <div class="carousel-caption">
                  <h5>
                    <span *ngFor="let features of product.special_features;j as featureIndex ">{{features.feature}} - </span>
                  </h5>
                  <h3>{{product.name}}</h3>
                  <p>{{product.description}}</p>
                </div>
              </div>
             
            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>
<!--end of banner-->
<div class="clearfix"></div>
<!--our process-->
<div class="our-process">
  <div class="container">
    <h5 class="section-title">Our Process</h5>
    <div class="row">
      <div class="col-md-3 our-process-steps">
        <span class="our-process-image">
          <img src="/assets/images/harvest.png" alt="">
        </span>  
        <h4>Harvest</h4>
        <p>Sagittis ultricies dignissim parturient consectetur sed posuere nascetur.</p>
      </div>
      <div class="col-md-3 our-process-steps">
        <span class="our-process-image">
          <img src="/assets/images/grind.png" alt="">
        </span>  
        <h4>Grind & Press</h4>
        <p>Sagittis ultricies dignissim parturient consectetur sed posuere nascetur.</p>
      </div>
      <div class="col-md-3 our-process-steps">
        <span class="our-process-image">
          <img src="/assets/images/ferment.png" alt="">
        </span>  
        <h4>Ferment</h4>
        <p>Sagittis ultricies dignissim parturient consectetur sed posuere nascetur.</p>
      </div>
      <div class="col-md-3 our-process-steps">
        <span class="our-process-image">
          <img src="/assets/images/bottling.png" alt="">
        </span>  
        <h4>Bottling</h4>
        <p>Sagittis ultricies dignissim parturient consectetur sed posuere nascetur.</p>
      </div>
    </div>
  </div>
</div>
<!--end of our process-->

<!--promotional product-->
<div class="promotional-product">
  <div class="container">
    <div class="row promotional-product-wrapper">
      <div class="col-md-6 promotional-product-desc">
          <h4>The tastiest reds</h4>
          <h1>Tasting & Tours</h1>
          <p>A pulvinar eu a velit sem risus fermentum a ad velit suscipit bibendum eget placerat. Nostra sociis consectetur dapibus amet felis mus ridiculus mus vestibulum a tincidunt iaculis rhoncus a pretium consectetur. Id adipiscing gravida fermentum blandit nec ut fusce cras ullamcorper parturient orci a condimentum sapien imperdiet pharetra ut adipiscing laoreet elit a pulvinar fermentum condimentum.</p>
          <button class="btn btn-theme">Read More</button>
      </div>
      <div class="col-md-6 promotional-product-image">
        <img src="/assets/images/red_wine.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<!--end of promotional product-->

<!--best sellers & popular items-->
<div class="best-and-popular-items">
    <div class="container">
      <div class="row">
        <!--best sellers-->
        <div class="best-sellers">
          <div class="col-md-6">
            <h4 class="section-title best-seller-title">Best Seller</h4>
            <div class="row">
              <div class="col-md-6" *ngFor="let product of bestSellerProducts; index as b;">
                <div class="product-wrapper">
                  <img src="/assets/images/{{product.image}}" alt="">
                  <!-- <a href="javascript:void(0)" (click)="viewProductDetails(product._id)"><img src="/assets/images/{{product.image}}" alt=""></a> -->
                  <span class="wishlist-wrapper">
                    <a href="javascrtipt:void(0)" (click)="add_removeFromWishlist(product.selected,product._id,bestSellerProducts,product)" data-toggle="tooltip" title="Add To Wishlist"><i class="fa-heart"  [ngClass]="product?.selected === true ? 'fas' : 'far'"></i></a>
                  </span>
                  <div class="product-info-wrapper">
                    <h4 class="title"><a href="#">{{product.name}}</a></h4>
                    <h5 class="quantity">750 ml</h5>
                    <h4 class="price">
                      <span class="old">${{product.listPrice}}</span>
                      <span class="new">${{product.salePrice}}</span>
                    </h4>
                    <div class="product-options">
                      <a href="javascrtipt:void(0)" (click)="viewProductDetails(product._id)" data-toggle="tooltip" title="View Details">View Details</a>
                      <a href="javascrtipt:void(0)" (click)="addToCart(product._id)" data-toggle="tooltip" title="Add To Cart">Add To Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end of best sellers-->

        <!--popular items-->
        <div class="popular-sellers">
            <div class="col-md-6">
              <h4 class="section-title most-popular-title">Most Popular</h4>
              <div class="row">
                <div class="col-md-6" *ngFor="let productMP of mostPopularProducts; index as m;">
                  <div class="product-wrapper">
                    <img src="/assets/images/{{productMP.image}}" alt="">
                    <!-- <a href="javascript:void(0)" (click)="viewProductDetails(productMP._id)"><img src="/assets/images/{{productMP.image}}" alt=""></a> -->
                    <span class="wishlist-wrapper"><a href="javascrtipt:void(0)" (click)="add_removeFromWishlist(productMP.selected,productMP._id,mostPopularProducts,productMP)" data-toggle="tooltip" title="Add To Wishlist"><i class="fa-heart"  [ngClass]="productMP?.selected === true ? 'fas' : 'far'"></i></a></span>
                    <div class="product-info-wrapper">
                      <h4 class="title"><a href="#">{{productMP.name}}</a></h4>
                      <h5 class="quantity">750 ml</h5>
                      <h4 class="price">
                        <span class="old">${{productMP.listPrice}}</span>
                        <span class="new">${{productMP.salePrice}}</span>
                      </h4>
                      <div class="product-options">
                        <a href="javascrtipt:void(0)" (click)="viewProductDetails(productMP._id)" data-toggle="tooltip" title="View Details">View Details</a>
                        <a href="javascrtipt:void(0)" (click)="addToCart(productMP._id)" data-toggle="tooltip" title="Add To Cart">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        <!--end of popular items-->
      </div>
    </div>
</div>
<!--end of best sellers & popular items-->
